@font-face {
  font-family: "Core Sans C Regular";
  src: url("./assets/fonts/CoreSansC-45Regular.woff2") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Core Sans C Bold";
  src: url("./assets/fonts/CoreSansC-65Bold.woff2") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Core Sans C Regular Italic";
  src: url("./assets/fonts/CoreSansC-45RegularIt.woff2") format("woff");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Core Sans C Bold Italic";
  src: url("./assets/fonts/CoreSansC-65BoldIt.woff2") format("woff");
  font-weight: normal;
  font-style: normal;
}


.hello {
  
  background: #eee;
  padding: 100px;
  text-align: center;
  color: #1c7560;
  transition: 100ms ease-in background;
  font-family: "Core Sans C Regular";
}
.hello:hover {
  background: #ccc;
}

