/**
* Global Variables to be used throughout the App
*/

// Options
$color-base-white: #ffffff;
$color-base-black: #080808;
$color-base-signature-mint-green: #A2D8CE;
$color-base-signature-slate-grey: #405373;
$color-base-signature-powder-grey: #ededee;
$color-base-signature-shades-slate-grey-50: #f5f7fa;
$color-base-signature-shades-slate-grey-100: #ebeef3;
$color-base-signature-shades-slate-grey-200: #D2DAE5;
$color-base-signature-shades-slate-grey-300: #aab9cf;
$color-base-signature-shades-slate-grey-400: #7C94B4;
$color-base-signature-shades-slate-grey-500: #5b769c;
$color-base-signature-shades-slate-grey-600: #475e82;
$color-base-signature-shades-slate-grey-700: #405373;
$color-base-signature-shades-slate-grey-800: #334259;
$color-base-signature-shades-slate-grey-900: #2f394b;
$color-base-signature-shades-slate-grey-950: #1f2532;
$color-base-signature-shades-mint-green-50: #F3FAF8;
$color-base-signature-shades-mint-green-100: #D8EFEA;
$color-base-signature-shades-mint-green-200: #A2D8CE;
$color-base-signature-shades-mint-green-300: #82C6BC;
$color-base-signature-shades-mint-green-400: #58A9A0;
$color-base-signature-shades-mint-green-500: #3E8E86;
$color-base-signature-shades-mint-green-600: #30716D;
$color-base-signature-shades-mint-green-700: #295C58;
$color-base-signature-shades-mint-green-800: #254A48;
$color-base-signature-shades-mint-green-900: #223F3D;
$color-base-signature-shades-mint-green-950: #0F2424;
$color-base-signature-shades-wine-red-50: #FCF4F4;
$color-base-signature-shades-wine-red-100: #F9E8E7;
$color-base-signature-shades-wine-red-200: #F5D4D3;
$color-base-signature-shades-wine-red-300: #EDB6B4;
$color-base-signature-shades-wine-red-400: #E18B88;
$color-base-signature-shades-wine-red-500: #D26561;
$color-base-signature-shades-wine-red-600: #BD4945;
$color-base-signature-shades-wine-red-700: #9E3B37;
$color-base-signature-shades-wine-red-800: #7F322F;
$color-base-signature-shades-wine-red-900: #6E302E;
$color-base-signature-shades-wine-red-950: #3B1514;
$color-base-signature-shades-baby-blue-50: #F2F7FC;
$color-base-signature-shades-baby-blue-100: #E1EEF8;
$color-base-signature-shades-baby-blue-200: #C9E1F4;
$color-base-signature-shades-baby-blue-300: #A4CEEC;
$color-base-signature-shades-baby-blue-400: #6DACDE;
$color-base-signature-shades-baby-blue-500: #5A97D7;
$color-base-signature-shades-baby-blue-600: #457ECB;
$color-base-signature-shades-baby-blue-700: #3C6BB9;
$color-base-signature-shades-baby-blue-800: #365897;
$color-base-signature-shades-baby-blue-900: #304b78;
$color-base-signature-shades-baby-blue-950: #212e4a;
$color-base-accent-wine-red: #7f322f;
$color-base-accent-cardinal-red: #e9514d;
$color-chrome-solid-gray-percent-5: #F5F6F6;
$color-chrome-solid-gray-percent-15: #E1E3E5;
$color-chrome-solid-gray-percent-30: #C3C8CA;
$color-chrome-solid-gray-percent-50: #9BA3A7;
$color-chrome-solid-gray-percent-70: #737E84;
$color-charts-baby-blue: #6dacde;
$color-charts-violet: #422C88;
$color-charts-iris: #8061BC;
$color-charts-lagoon: #007C89;
$color-charts-rainwater: #6FC1B1;
$color-charts-strawberry: #A32A2E;
$color-charts-apple: #D13F44;
$color-data-viz-periwinkle-15: #edefff;
$color-data-viz-periwinkle-30: #d6daff;
$color-data-viz-periwinkle-50: #b0b9ff;
$color-data-viz-periwinkle-70: #8b98ff;
$color-data-viz-periwinkle-100: #5c6fff;
$color-data-viz-periwinkle-115: #4e5ed9;
$color-data-viz-periwinkle-130: #404db3;
$color-data-viz-periwinkle-150: #323c8c;
$color-data-viz-teal-15: #d6f3f3;
$color-data-viz-teal-30: #b5eaea;
$color-data-viz-teal-50: #80d9d9;
$color-data-viz-teal-70: #43c6c6;
$color-data-viz-teal-100: #00b1b1;
$color-data-viz-teal-115: #009696;
$color-data-viz-teal-130: #007777;
$color-data-viz-teal-150: #016363;
$color-data-viz-sunset-15: #ffe8e2;
$color-data-viz-sunset-30: #ffd3c8;
$color-data-viz-sunset-50: #feb09c;
$color-data-viz-sunset-70: #ff8d6f;
$color-data-viz-sunset-100: #fe6a43;
$color-data-viz-sunset-115: #d85a38;
$color-data-viz-sunset-130: #b2492e;
$color-data-viz-sunset-150: #8b3a24;
$color-data-viz-orange-15: #ffefde;
$color-data-viz-orange-30: #ffddb7;
$color-data-viz-orange-50: #ffc889;
$color-data-viz-orange-70: #ffb969;
$color-data-viz-orange-100: #ffa843;
$color-data-viz-orange-115: #e6973c;
$color-data-viz-orange-130: #bf7d32;
$color-data-viz-orange-150: #8c5c24;
$color-data-viz-blue-15: #e5f8ff;
$color-data-viz-blue-30: #caf0ff;
$color-data-viz-blue-50: #a6e4ff;
$color-data-viz-blue-70: #82d8ff;
$color-data-viz-blue-100: #4cc6ff;
$color-data-viz-blue-115: #1595d0;
$color-data-viz-blue-130: #0e75a5;
$color-data-viz-magenta-15: #fce2f2;
$color-data-viz-magenta-30: #f8c5e4;
$color-data-viz-magenta-50: #f49fd4;
$color-data-viz-magenta-70: #f079c4;
$color-data-viz-magenta-100: #ea40ac;
$color-messaging-green-success: #007000;
$color-messaging-red-alert: #C40000;
$color-messaging-gold-callout: #F5B700;
$color-messaging-hyperlink-blue: #196ECF;
// DECISIONS
$card-background: #f7f7f7;
$color-text: #080808;
$color-background: #ffffff;
$color-icons: #405373;
$color-icons-hover: #475e82;
$color-icons-active: #334259;
$color-icons-pane: #304b78;
$color-icons-pane-hover: #5A97D7;
$color-icons-pane-active: #82C6BC;
$color-primary-contained-background: #5b769c;
$color-primary-outlined-background: none;
$color-primary-text-background: none;
$color-secondary-contained-background: #82C6BC;
$color-secondary-outlined-background: none;
$color-secondary-text-background: none;
$color-tertiary-contained-background: #7f322f;
$color-tertiary-outlined-background: none;
$color-tertiary-text-background: none;
$color-quaternary-contained-background: #6dacde;
$color-quaternary-outlined-background: none;
$color-quaternary-text-background: none;
$color-error-contained-background: #C40000;
$color-error-outlined-background: none;
$color-error-text-background: none;
$color-warning-contained-background: #F5B700;
$color-warning-outlined-background: none;
$color-warning-text-background: none;
$color-success-contained-background: #007000;
$color-success-outlined-background: none;
$color-success-text-background: none;
$color-info-contained-background: #196ECF;
$color-info-outlined-background: none;
$color-info-text-background: none;
$color-neutral-contained-background: #737E84;
$color-neutral-outlined-background: none;
$color-neutral-text-background: none;
$color-primary-contained-background-hovered: #7C94B4;
$color-primary-outlined-background-hovered: #f5f7fa;
$color-primary-text-background-hovered: #f5f7fa;
$color-secondary-contained-background-hovered: #A2D8CE;
$color-secondary-outlined-background-hovered: #F3FAF8;
$color-secondary-text-background-hovered: #F3FAF8;
$color-tertiary-contained-background-hovered: #9E3B37;
$color-tertiary-outlined-background-hovered: #FCF4F4;
$color-tertiary-text-background-hovered: #FCF4F4;
$color-quaternary-contained-background-hovered: #A4CEEC;
$color-quaternary-outlined-background-hovered: #F2F7FC;
$color-quaternary-text-background-hovered: #F2F7FC;
$color-error-contained-background-hovered: #e9514d;
$color-error-outlined-background-hovered: #FCF4F4;
$color-error-text-background-hovered: #FCF4F4;
$color-warning-contained-background-hovered: #ffc889;
$color-warning-outlined-background-hovered: #ffefde;
$color-warning-text-background-hovered: #ffefde;
$color-success-contained-background-hovered: #007777;
$color-success-outlined-background-hovered: #009696;
$color-success-text-background-hovered: #009696;
$color-info-contained-background-hovered: #1595d0;
$color-info-outlined-background-hovered: #e5f8ff;
$color-info-text-background-hovered: #e5f8ff;
$color-neutral-contained-background-hovered: #9BA3A7;
$color-neutral-outlined-background-hovered: #F5F6F6;
$color-neutral-text-background-hovered: #F5F6F6;
$color-primary-contained-background-disabled: #aab9cf;
$color-primary-outlined-background-disabled: #f5f7fa;
$color-primary-text-background-disabled: #f5f7fa;
$color-secondary-contained-background-disabled: #D8EFEA;
$color-secondary-outlined-background-disabled: #F3FAF8;
$color-secondary-text-background-disabled: #F3FAF8;
$color-tertiary-contained-background-disabled: #E18B88;
$color-tertiary-outlined-background-disabled: none;
$color-tertiary-text-background-disabled: #FCF4F4;
$color-quaternary-contained-background-disabled: #C9E1F4;
$color-quaternary-outlined-background-disabled: none;
$color-quaternary-text-background-disabled: none;
$color-error-contained-background-disabled: #e9514d;
$color-error-outlined-background-disabled: none;
$color-error-text-background-disabled: none;
$color-warning-contained-background-disabled: #ffddb7;
$color-warning-outlined-background-disabled: none;
$color-warning-text-background-disabled: none;
$color-success-contained-background-disabled: #80d9d9;
$color-success-outlined-background-disabled: none;
$color-success-text-background-disabled: none;
$color-info-contained-background-disabled: #4cc6ff;
$color-info-outlined-background-disabled: none;
$color-info-text-background-disabled: none;
$color-neutral-contained-background-disabled: #E1E3E5;
$color-neutral-outlined-background-disabled: none;
$color-neutral-text-background-disabled: none;
$color-primary-contained-foreground: #ffffff;
$color-primary-outlined-foreground: #405373;
$color-primary-text-foreground: #405373;
$color-secondary-contained-foreground: #ffffff;
$color-secondary-outlined-foreground: #82C6BC;
$color-secondary-text-foreground: #82C6BC;
$color-tertiary-contained-foreground: #ffffff;
$color-tertiary-outlined-foreground: #7f322f;
$color-tertiary-text-foreground: #7f322f;
$color-quaternary-contained-foreground: #ffffff;
$color-quaternary-outlined-foreground: #6DACDE;
$color-quaternary-text-foreground: #6DACDE;
$color-error-contained-foreground: #ffffff;
$color-error-outlined-foreground: #C40000;
$color-error-text-foreground: #C40000;
$color-warning-contained-foreground: #ffffff;
$color-warning-outlined-foreground: #e6973c;
$color-warning-text-foreground: #e6973c;
$color-success-contained-foreground: #ffffff;
$color-success-outlined-foreground: #007000;
$color-success-text-foreground: #007000;
$color-info-contained-foreground: #ffffff;
$color-info-outlined-foreground: #196ECF;
$color-info-text-foreground: #196ECF;
$color-neutral-contained-foreground: #ffffff;
$color-neutral-outlined-foreground: #737E84;
$color-neutral-text-foreground: #737E84;
$color-primary-contained-foreground-disabled: #ffffff;
$color-primary-outlined-foreground-disabled: #D2DAE5;
$color-primary-text-foreground-disabled: #aab9cf;
$color-secondary-contained-foreground-disabled: #ffffff;
$color-secondary-outlined-foreground-disabled: #A2D8CE;
$color-secondary-text-foreground-disabled: #A2D8CE;
$color-tertiary-contained-foreground-disabled: #ffffff;
$color-tertiary-outlined-foreground-disabled: #EDB6B4;
$color-tertiary-text-foreground-disabled: #F5D4D3;
$color-quaternary-contained-foreground-disabled: #ffffff;
$color-quaternary-outlined-foreground-disabled: #A4CEEC;
$color-quaternary-text-foreground-disabled: #A4CEEC;
$color-error-contained-foreground-disabled: #ffffff;
$color-error-outlined-foreground-disabled: #BD4945;
$color-error-text-foreground-disabled: #BD4945;
$color-warning-contained-foreground-disabled: #ffffff;
$color-warning-outlined-foreground-disabled: #ffb969;
$color-warning-text-foreground-disabled: #ffb969;
$color-success-contained-foreground-disabled: #ffffff;
$color-success-outlined-foreground-disabled: #b5eaea;
$color-success-text-foreground-disabled: #b5eaea;
$color-info-contained-foreground-disabled: #ffffff;
$color-info-outlined-foreground-disabled: #a6e4ff;
$color-info-text-foreground-disabled: #a6e4ff;
$color-neutral-contained-foreground-disabled: #ffffff;
$color-neutral-outlined-foreground-disabled: #C3C8CA;
$color-neutral-text-foreground-disabled: #C3C8CA;
$color-masthead-background: #405373;
$color-masthead-bottom-border: #334259;
$color-sidebar-background: #ededee;
$color-sidebar-border-right: #334259;
$color-sidebar-menu-text: #080808;
$color-sidebar-menu-background-hover: #ebeef3;
$color-sidebar-menu-background-active: #A2D8CE;
$color-sidebar-menu-selected-indicator: #7f322f;
$color-useritem-background-hovered: #e5f8ff;
$color-useritem-background: #ffffff;
$color-useritem-text: #2f394b;
$color-useritem-border: #f5f7fa;
$color-useritem-border-selected: #334259;
$color-useritem-background-selected: #475e82;
$color-useritem-text-selected: #ffffff;
$color-master-pane-background: #f5f7fa;
$color-detail-pane-background: #f5f7fa;
$color-pane-title: #304b78;
$color-input-component-label: #405373;
$color-active-blue:  #4299e1;
$color-active-blue-lighter:  #71baff;

:export {
  primaryColor: $color-base-signature-slate-grey;
  bgColor:$color-base-signature-shades-slate-grey-100;
  cardBackground: $card-background;
  primaryText: $color-text;
  userName: $color-base-signature-shades-slate-grey-900;
  activeBlue: $color-active-blue;
  activeBlueLighter: $color-active-blue-lighter;
}